body {
    background-color: #f5f5f5;
}
h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    }
table{
    width: 50%;
    margin: 20px auto;
    border-collapse:collapse;
    background: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

p {
    text-align:  center;
    font-family: Arial, sans-serif;
    font-size: 15pt;
    font-weight: bold;
}

th {
    background: #eee;
    font-weight: bold;
}

nav {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
